{% extends 'tc/base.html' %}
{% load static %}
{%block body_content%}
<div class="text-center">

        {% if not request.user.is_authenticated %}
            <div class="text-center">
                <h1>Welcome to Max car service center</h1>
            </div>
            <div class=".container" style="text-align: center;">
                <img src="{% static "images/homepage.png" %}" alt="Sessions">
            </div>
        {% endif %}
</div>
<div>
{% if  request.user.is_authenticated %}
    {% if request.user.role == "staff" %}
    <h2> Welcome Staff</h2>


        <div class="row">

                    <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        <h5 class="card-title">Customers</h5>
                    </div>
                    <img src="{% static "images/Customer.jpg" %}" height="200" class="card-img-top" alt="Sessions">
                    <div class="card-body">
                         <a href="{% url "tc:list_customer" %}" class="btn btn-primary">View Customers</a>
                    </div>
                    </div>

                <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        <h5 class="card-title">Tickets</h5>
                    </div>
                    <img src="{% static "images/tickets.png" %}" height="200" class="card-img-top" alt="Sessions">
                    <div class="card-body">
                        <a href="{% url "tc:view_Customer_tickets" %}" class="btn btn-primary">View Customers Tickets</a>
                    </div>
                </div>
                <div class="card" style="width: 34rem;">
                    <div class="card-header">
                        <h5 class="card-title">Repairitems</h5>
                    </div>
                    <img src="{% static "images/repaired item.jpg" %}" height="200" class="card-img-top" alt="Sessions">
                    <div class="card-body">
                        <a href="{% url "tc:add_repair_items" %}" class="btn btn-primary">Add New ItemRepair</a>
                    </div>
                </div>




            </div>
    {% endif %}
    {% if request.user.role == "customer" %}
    <h2> Welcome Customer</h2>
        <div class="card" style="width: 30rem;">
                    <div class="card-header">
                        <h5 class="card-title">Add Tickets</h5>
                    </div>
                    <img src="{% static "images/tickets.png" %}" width="200" height="200" class="card-img-top" alt="Sessions">
                    <div class="card-body">
                        <a href="{% url "tc:add_customer_ticket" %}" class="btn btn-primary">Add New Ticket</a>
                    </div>
                </div>

    <!-- <a style="margin-right:5px;" href = '{% url "tc:view_Customer_tickets" %}'>View Your Tickets</a>-->
    {% endif %}
{% else %}
    {% if messages %}
    <div>
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

{% endif %}

</div>

{%endblock body_content%}

